/* Confirm */
.confirm-modal {
  background-color: #ffffff;
  width: 30rem;
  padding: 1rem;
  border-radius: .25rem;
  text-align: center;
  position: fixed;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  margin: auto;
}