html,
body {
  margin: 0;
  height: 100%;
}

.active-tab {
  font-weight: bold;
  color: aqua;
  font-size: 21px;
}

/* tabs */
#root {
  position: relative;
  height: 100%;
}

.tab-wrapper,
.tab-container {
  position: absolute;
  overflow: hidden;
  inset: 0;
  z-index: 0;
}

.tab-container {
  z-index: 1;
}

.tab-wrapper .view-wrapper,
.tab-container .view-wrapper {
  position: absolute;
  overflow: hidden;
}

.tab-wrapper .view-wrapper,
.tab-container .view-wrapper {
  inset: 0;
}

.hidden {
  display: none;
}

/* partial-tab-container */
.partial-tab-container {
  z-index: 1;
  position: absolute;
  inset: 0;
}

.overlay-container .view-wrapper{
  position: absolute;
}