.toast {
  position: relative;
  --toast-color: #212529;
  --toast-bg: #fff;
  --toast-border-radius: var(--border-radius);
  --toast-box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
  --toast-close-width: 1rem;
  --toast-close-height: 1rem;
  --toast-padding-x: 1rem;
  --toast-padding-y: 1rem;

  width: 22rem;
  max-width: 100%;
  font-size: 0.875rem;
  pointer-events: auto;
  background-clip: padding-box;
  padding: var(--toast-padding-y) var(--toast-padding-x);
  color: var(--toast-color);
  background-color: var(--toast-bg);
  border-radius: var(--toast-border-radius);
  box-shadow: var(--toast-box-shadow);
  padding-left: calc(var(--toast-close-width) + var(--toast-padding-x) + 1rem);
}
.toast-success {
  --toast-bg: #50cd89;
  --toast-color: #fff;
}
.toast-danger {
  --toast-bg: #f1416c;
  --toast-color: #fff;
}
.toast-close {
  --toast-close-color: #000;
  --toast-close-opacity: 0.5;
  --toast-close-hover-opacity: 0.75;
  --toast-close-focus-opacity: 1;
  --toast-close-disabled-opacity: 0.25;

  box-sizing: content-box;
  width: var(--toast-close-width);
  height: var(--toast-close-height);
  padding: 0.25em 0.25em;
  color: var(--toast-close-color);
  background: none;
  border: 0;
  border-radius: 0.375rem;
  opacity: var(--toast-close-opacity);
  position: absolute;
  left: var(--toast-padding-x);
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
}
.toast-close:hover {
  opacity: var(--toast-close-hover-opacity);
}
.toast-close:focus {
  opacity: var(--toast-close-focus-opacity);
}
.toast-close svg {
  width: 100%;
  height: auto;
}
